<ion-view view-title='Add Account' style="background-color:#E0E0E0">
  <ion-content>
  	<div class="list list-inset" style="background-color:#E0E0E0;border-color:#E0E0E0;">
        <label class="item item-input remove_border" style="border-radius:7px;">
          <span class="input-label">Acc Name</span>
          <input type="text" placeholder="" id="acc_name">
        </label>
        <label class="item item-input remove_border" style="border-radius:7px;margin-top:10px;">
          <span class="input-label">Acc Number</span>
          <input type="text" placeholder="" id="acc_number">
        </label>
        <label class="item item-input remove_border"style="border-radius:7px;margin-top:10px;">
          <span class="input-label">Balance</span>
          <input type="number" placeholder="" id="acc_balance">
        </label>
        <!--label class="item item-input item-select">
          <div class="input-label">
            Lightsaber
          </div>
          <select>
            <option ng-repeat="catagorie in catagories">{{catagorie}}</option>
          </select>
        </label-->
        <!--div class="item item-divider remove_border">
          Select Catagorie
        </div>
        <label class="item item-radio" ng-repeat="catagorie in catagories">
          <input type="radio" name="group">
          <div class="item-content">
            {{catagorie.name}}
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label-->
        <div class="row">
        	<button class="col col-20 col-offset-80 button button-outline button-positive" ng-click="add_account()" style="background-color:#ffffff;float:right;margin-top:10px;">Add</button>
        </div>



    </div>
  
  </ion-content>
 </ion-view>