<ion-view view-title='Money Manager'>
  <ion-content class="padding"  style="background-color:#E0E0E0">
    <div class="list">
	    <div class="item item-divider" style="background-color:#E0E0E0;border-color:#E0E0E0;">
    		PIN
  	    </div>
		<a class="item item-icon-right" href="#/tab/change_pass" style="border-radius:7px;">
	    	<i class="icon ion-ios-locked color_positive" style="font-size:24px;"></i>
	    		Change Key
	  	</a>
	  	<div class="item item-divider" style="background-color:#E0E0E0;border:0px;">
    		Accounts
  	    </div>
	  	<!--a class="item item-icon-right" href="#/tab/add_account">
	    	<i class="icon ion-ios-plus color_positive"></i>
	    		Create
	  	</a-->
	  	<a class="item item-icon-right" href="#/tab/delete_account" style="border-top-left-radius:7px;border-top-right-radius:7px;">
	    	<i class="icon ion-android-remove-circle color_positive" style="font-size:24px;"></i>
	    		Delete
	  	</a>
	  	<a class="item item-icon-right" href="#/tab/recover_accounts" style="border-bottom-left-radius:7px;border-bottom-right-radius:7px;">
	    	<i class="icon ion-ios-trash color_positive" style="font-size:24px;"></i>
	    		Recover
	  	</a>
	  	<div class="item item-divider" style="background-color:#E0E0E0;border:0px;">
    		Category
  	    </div>
  	    <a class="item item-icon-right" ng-click="add_cat()" style="border-top-left-radius:7px;border-top-right-radius:7px;">
	    	<i class="icon ion-ios-plus color_positive" style="font-size:24px;"></i>
	    		Create
	  	</a>
	  	<a class="item item-icon-right" href="#/tab/delete_cat">
	    	<i class="icon ion-android-remove-circle color_positive" style="font-size:24px;"></i>
	    		Delete
	  	</a>
	  	<a class="item item-icon-right" href="#/tab/view_cat" style="border-bottom-left-radius:7px;border-bottom-right-radius:7px;">
	    	<i class="icon ion-eye color_positive" style="font-size:24px;"></i>
	    		View
	  	</a>
	  	<div class="item item-divider" style="background-color:#E0E0E0;border:0px;">
    		Tutorial
  	    </div>
  	    <a class="item item-icon-right" href="#/tab/tut" style="border-radius:7px;">
	    	<i class="icon ion-ios-albums color_positive" style="font-size:24px;"></i>
	    		Slide Show
	  	</a>
	</div>
  </ion-content>
</ion-view>
